__pycache__/
.ipynb_checkpoints/
exp_local
rlkit/
hydra_test.*
vae.*
test.*
*.jpg
config/paths/config_path.yaml
figures/
Palette-Image-to-Image-Diffusion-Models/experiments
palette_artifacts/
Metaworld/
expl_agent*
runs/
test_images/
palette/inpaint_results
palette/save_masks.py
weights/
palette/test_imgs
palette/config/*
